Question 1 (a)

In [1]:
rep(seq(10,40,8),5:2)

 [1] 10 10 10 10 10 18 18 18 18 26 26 26 34 34

Question 1 (b) Write the R command to produce a vector of four 8's, seven 6's and three 5's

In [2]:
q1b = c(rep(8,4),rep(6,7),rep(5,3)) 
q1b

 [1] 8 8 8 8 6 6 6 6 6 6 6 5 5 5

Question 1 (c)

In [3]:
q1c = rev(seq(60,400,by=20))
q1c

 [1] 400 380 360 340 320 300 280 260 240 220 200 180 160 140 120 100  80  60

Question 1 (d) Produce the following output by using the data in part c
#     		[,1] [,2] [,3] [,4] [,5] [,6]
#		[1,]  400  380  360  340  320  300
#		[2,]  280  260  240  220  200  180
#		[3,]  160  140  120  100   80   60

In [4]:
q1d = matrix(q1c, nrow=3, byrow=T)
q1d

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 400  380  360  340  320  300
[2,] 280  260  240  220  200  180
[3,] 160  140  120  100   80   60

Question 1 (e) Based on the data in part d) obtain the following output
, , 1

     [,1] [,2] [,3]
[1,]  400  160  260
[2,]  280  380  140

, , 2

     [,1] [,2] [,3]
[1,]  360  120  220
[2,]  240  340  100

, , 3

     [,1] [,2] [,3]
[1,]  320   80  180
[2,]  200  300   60

In [5]:
q1e = array(q1d,c(2,3,3))
q1e

, , 1

     [,1] [,2] [,3]
[1,]  400  160  260
[2,]  280  380  140

, , 2

     [,1] [,2] [,3]
[1,]  360  120  220
[2,]  240  340  100

, , 3

     [,1] [,2] [,3]
[1,]  320   80  180
[2,]  200  300   60

Question 1 (e) Write a suitable command to replace the value 80 in part d) with 888

In [6]:
q1d[3,5] = 80

Question 2 (a)

In [7]:
q2 = c(59,48,25,99,10,34,67,83)

In [8]:
sort(q2)

[1] 10 25 34 48 59 67 83 99

In [9]:
order(q2)

[1] 5 3 6 2 1 7 8 4

In [10]:
rank(q2)

[1] 5 4 2 8 1 3 6 7

Question 2 (b) Merge the data in part(a), X=A:H and Y={1:4,M,N,O,P}.

In [11]:
X=c("A","B","C","D","E","F","G","H")
Y=c(1:4,"M","N","O","P")
q2b1=data.frame(q2,X,Y)
q2b1

  q2 X Y
1 59 A 1
2 48 B 2
3 25 C 3
4 99 D 4
5 10 E M
6 34 F N
7 67 G O
8 83 H P

Question 3 (a)

In [16]:
xt = c(59,48,25,99,10,34,67,83)
A = c(10,30,50,29,23,45,67,35)
B = c("Group 1","Group 3","Group 2","Group 1","Group 2", "Group 3", "Group 1","Group 3")
D = gl(2,1,8,labels=c("Bag X","Bag Y"))

library(data.table)
data1 = data.frame(xt,A,B,D)
data2 = data.table(xt,A,B,D)
data1

  xt A  B       D
1 59 10 Group 1 Bag X
2 48 30 Group 3 Bag Y
3 25 50 Group 2 Bag X
4 99 29 Group 1 Bag Y
5 10 23 Group 2 Bag X
6 34 45 Group 3 Bag Y
7 67 67 Group 1 Bag X
8 83 35 Group 3 Bag Y

In [15]:
data2

  xt A  B       D
1 59 10 Group 1 Bag X
2 48 30 Group 3 Bag Y
3 25 50 Group 2 Bag X
4 99 29 Group 1 Bag Y
5 10 23 Group 2 Bag X
6 34 45 Group 3 Bag Y
7 67 67 Group 1 Bag X
8 83 35 Group 3 Bag Y

Question 3 (b)

In [17]:
tapply(A,B,sum)

Group 1 Group 2 Group 3
    106      73     110

In [18]:
aggregate(A,by=list(B,D),sum)

  Group.1 Group.2 x
1 Group 1 Bag X    77
2 Group 2 Bag X    73
3 Group 1 Bag Y    29
4 Group 3 Bag Y   110

In [19]:
library(data.table)
data.table(aggregate(xt,by=list(B),sum))

  Group.1 x
1 Group 1 225
2 Group 2  35
3 Group 3 165

In [20]:
data.table(aggregate(xt,by=list(D),sum))

  Group.1 x
1 Bag X   161
2 Bag Y   264

In [21]:
data.table(aggregate(A,by=list(B,D),sum))

  Group.1 Group.2 x
1 Group 1 Bag X    77
2 Group 2 Bag X    73
3 Group 1 Bag Y    29
4 Group 3 Bag Y   110