In [5]:
rep(1,10)

 [1] 1 1 1 1 1 1 1 1 1 1

In [6]:
rep(c(1,3),10)

 [1] 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3 1 3

In [7]:
x1=rep(c(10,12,13),c(3,2,4))
x1

[1] 10 10 10 12 12 13 13 13 13

In [8]:
summary(x1)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.00   10.00   12.00   11.78   13.00   13.00

In [9]:
x2=as.factor(x1)
x2

[1] 10 10 10 12 12 13 13 13 13
Levels: 10 12 13

In [10]:
summary(x2)

10 12 13
 3  2  4

In [11]:
x3=as.numeric(x2)
x3

[1] 1 1 1 2 2 3 3 3 3

In [12]:
x4=as.character(x2)
x4

[1] "10" "10" "10" "12" "12" "13" "13" "13" "13"

In [13]:
summary(x4)

   Length     Class      Mode
        9 character character

In [14]:
x5=as.character(x4)
x5

[1] "10" "10" "10" "12" "12" "13" "13" "13" "13"

In [15]:
x5=as.numeric(x4)
x5

[1] 10 10 10 12 12 13 13 13 13

In [16]:
summary(x5)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.00   10.00   12.00   11.78   13.00   13.00

In [17]:
summary(x1)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.00   10.00   12.00   11.78   13.00   13.00

In [18]:
dt=c(208,8,2.4,1432,61,1.7,2112,82,2)
dt1=matrix(dt,nrow=3,byrow=T)
dt1

     [,1] [,2] [,3]
[1,]  208  8   2.4
[2,] 1432 61   1.7
[3,] 2112 82   2.0

In [19]:
dim(dt1)

[1] 3 3

In [20]:
ctry=c("Austria","France","Japan")
vr=c("GNP","Pop","Inflation")
dimnames(dt1)=list(ctry,vr)
dt1

        GNP  Pop Inflation
Austria  208  8  2.4
France  1432 61  1.7
Japan   2112 82  2.0

In [21]:
Germany=c(1820,71,2.1)
dt2=rbind(dt1,Germany)
dt2

        GNP  Pop Inflation
Austria  208  8  2.4
France  1432 61  1.7
Japan   2112 82  2.0
Germany 1820 71  2.1

In [22]:
Area=c(84,544,450,358)
dt3=cbind(dt2,Area)
dt3

        GNP  Pop Inflation Area
Austria  208  8  2.4        84
France  1432 61  1.7       544
Japan   2112 82  2.0       450
Germany 1820 71  2.1       358

In [24]:
cat=c("EU","EU","non-EU","EU")
dt4=cbind(dt3,cat)
dt4

        GNP  Pop Inflation Area cat
Austria 208  8   2.4       84   EU
France  1432 61  1.7       544  EU
Japan   2112 82  2         450  non-EU
Germany 1820 71  2.1       358  EU

In [25]:
summary(dt3)

      GNP            Pop          Inflation          Area
 Min.   : 208   Min.   : 8.00   Min.   :1.700   Min.   : 84.0
 1st Qu.:1126   1st Qu.:47.75   1st Qu.:1.925   1st Qu.:289.5
 Median :1626   Median :66.00   Median :2.050   Median :404.0
 Mean   :1393   Mean   :55.50   Mean   :2.050   Mean   :359.0
 3rd Qu.:1893   3rd Qu.:73.75   3rd Qu.:2.175   3rd Qu.:473.5
 Max.   :2112   Max.   :82.00   Max.   :2.400   Max.   :544.0

In [26]:
summary(dt4)

   GNP    Pop    Inflation  Area       cat
 1432:1   61:1   1.7:1     358:1   EU    :3
 1820:1   71:1   2  :1     450:1   non-EU:1
 208 :1   8 :1   2.1:1     544:1
 2112:1   82:1   2.4:1     84 :1

In [27]:
str(dt3)

 num [1:4, 1:4] 208 1432 2112 1820 8 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:4] "Austria" "France" "Japan" "Germany"
  ..$ : chr [1:4] "GNP" "Pop" "Inflation" "Area"

In [28]:
str(dt4)

 chr [1:4, 1:5] "208" "1432" "2112" "1820" "8" "61" "82" "71" "2.4" "1.7" ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:4] "Austria" "France" "Japan" "Germany"
  ..$ : chr [1:5] "GNP" "Pop" "Inflation" "Area" ...

In [29]:
dt5=data.frame(dt3,cat)
dt5

        GNP  Pop Inflation Area cat
Austria  208  8  2.4        84  EU
France  1432 61  1.7       544  EU
Japan   2112 82  2.0       450  non-EU
Germany 1820 71  2.1       358  EU

In [30]:
summary(dt5)

      GNP            Pop          Inflation          Area           cat
 Min.   : 208   Min.   : 8.00   Min.   :1.700   Min.   : 84.0   EU    :3
 1st Qu.:1126   1st Qu.:47.75   1st Qu.:1.925   1st Qu.:289.5   non-EU:1
 Median :1626   Median :66.00   Median :2.050   Median :404.0
 Mean   :1393   Mean   :55.50   Mean   :2.050   Mean   :359.0
 3rd Qu.:1893   3rd Qu.:73.75   3rd Qu.:2.175   3rd Qu.:473.5
 Max.   :2112   Max.   :82.00   Max.   :2.400   Max.   :544.0

In [31]:
a_list=list(dt,dt1,dt5)
a_list

[[1]]
[1]  208.0    8.0    2.4 1432.0   61.0    1.7 2112.0   82.0    2.0

[[2]]
         GNP Pop Inflation
Austria  208   8       2.4
France  1432  61       1.7
Japan   2112  82       2.0

[[3]]
         GNP Pop Inflation Area    cat
Austria  208   8       2.4   84     EU
France  1432  61       1.7  544     EU
Japan   2112  82       2.0  450 non-EU
Germany 1820  71       2.1  358     EU

In [32]:
a_list[[1]]

[1]  208.0    8.0    2.4 1432.0   61.0    1.7 2112.0   82.0    2.0

In [34]:
a_list$dt

NULL

In [35]:
a_list=list(dt=dt,dt1=dt1,dt5=dt5)
a_list

$dt
[1]  208.0    8.0    2.4 1432.0   61.0    1.7 2112.0   82.0    2.0

$dt1
         GNP Pop Inflation
Austria  208   8       2.4
France  1432  61       1.7
Japan   2112  82       2.0

$dt5
         GNP Pop Inflation Area    cat
Austria  208   8       2.4   84     EU
France  1432  61       1.7  544     EU
Japan   2112  82       2.0  450 non-EU
Germany 1820  71       2.1  358     EU

In [36]:
xx=array(1:36,c(4,3,3))
xx

, , 1

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

, , 2

     [,1] [,2] [,3]
[1,]   13   17   21
[2,]   14   18   22
[3,]   15   19   23
[4,]   16   20   24

, , 3

     [,1] [,2] [,3]
[1,]   25   29   33
[2,]   26   30   34
[3,]   27   31   35
[4,]   28   32   36

In [37]:
xx[,,2]

     [,1] [,2] [,3]
[1,] 13   17   21
[2,] 14   18   22
[3,] 15   19   23
[4,] 16   20   24

In [38]:
xx[,2,]

     [,1] [,2] [,3]
[1,] 5    17   29
[2,] 6    18   30
[3,] 7    19   31
[4,] 8    20   32

In [39]:
xx[3,,]

     [,1] [,2] [,3]
[1,]  3   15   27
[2,]  7   19   31
[3,] 11   23   35

In [40]:
seq(10,100)

 [1]  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28
[20]  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47
[39]  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66
[58]  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
[77]  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100

In [41]:
seq(10,100,by=20)

[1] 10 30 50 70 90

In [42]:
seq(10,100,length=8)

[1]  10.00000  22.85714  35.71429  48.57143  61.42857  74.28571  87.14286
[8] 100.00000

In [43]:
y=c(52,35,10,42,84,76,69)
sort(y)
order(y)
rank(y)

[1] 10 35 42 52 69 76 84

[1] 3 2 4 1 7 6 5

[1] 4 2 1 3 7 6 5

In [45]:
sort(y,decreasing=T)
rev(sort(y))

[1] 84 76 69 52 42 35 10

[1] 84 76 69 52 42 35 10

In [46]:
str(quakes)

'data.frame':	1000 obs. of  5 variables:
 $ lat     : num  -20.4 -20.6 -26 -18 -20.4 ...
 $ long    : num  182 181 184 182 182 ...
 $ depth   : int  562 650 42 626 649 195 82 194 211 622 ...
 $ mag     : num  4.8 4.2 5.4 4.1 4 4 4.8 4.4 4.7 4.3 ...
 $ stations: int  41 15 43 19 11 12 43 15 35 19 ...