Question 1 (a)

In [1]:
rep(seq(10,40,8),5:2)

 [1] 10 10 10 10 10 18 18 18 18 26 26 26 34 34

Question 1 (b) Write the R command to produce a vector of four 8's, seven 6's and three 5's

In [4]:
q1b = c(rep(8,4),rep(6,7),rep(5,3)) 
q1b

 [1] 8 8 8 8 6 6 6 6 6 6 6 5 5 5

Question 1 (c)

In [5]:
q1c = rev(seq(60,400,by=20))
q1c

 [1] 400 380 360 340 320 300 280 260 240 220 200 180 160 140 120 100  80  60

Question 1 (d) Produce the following output by using the data in part c
#     		[,1] [,2] [,3] [,4] [,5] [,6]
#		[1,]  400  380  360  340  320  300
#		[2,]  280  260  240  220  200  180
#		[3,]  160  140  120  100   80   60

In [6]:
q1d = matrix(q1c, nrow=3, byrow=T)
q1d

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 400  380  360  340  320  300
[2,] 280  260  240  220  200  180
[3,] 160  140  120  100   80   60

Question 1 (e) Based on the data in part d) obtain the following output
, , 1

     [,1] [,2] [,3]
[1,]  400  160  260
[2,]  280  380  140

, , 2

     [,1] [,2] [,3]
[1,]  360  120  220
[2,]  240  340  100

, , 3

     [,1] [,2] [,3]
[1,]  320   80  180
[2,]  200  300   60

In [7]:
q1e = array(q1d,c(2,3,3))
q1e

, , 1

     [,1] [,2] [,3]
[1,]  400  160  260
[2,]  280  380  140

, , 2

     [,1] [,2] [,3]
[1,]  360  120  220
[2,]  240  340  100

, , 3

     [,1] [,2] [,3]
[1,]  320   80  180
[2,]  200  300   60

Question 1 (e) Write a suitable command to replace the value 80 in part d) with 888

In [8]:
q1d[3,5] = 80

Question 2 (a)

In [ ]:
q2 = c(59,48,25,99,10,34,67,83)

In [ ]:
sort(q2)

In [10]:
order(q2)

[1] 5 3 6 2 1 7 8 4

In [9]:
rank(q2)

[1] 5 4 2 8 1 3 6 7